@page
@model BikesRUs.Pages.ReceivingPages.IndexModel
@{
    ViewData["Title"]="Receiving Home Page";
}

@section CustomCSS{
    <partial name="_MyCustomCSS" />
}


<div>
    <h3>Welcome to the Receving Subsytem - by <span style="font-weight: bold">Muntader Al Nasser</span></h3>
    <p>
        To start the process, all outstanding orders are displayed to the receiver. From this list the receiver will select the order that is being received. On selecting an order, the order details are displayed. This will allow the receiver to manually verify the order contents to the shipping sheet. As the receiver verifies the order, the receiver may:
    </p>
    <ul>
        <li>Enter the number of stock items received</li>
        <li>Enter the number of stock items refused and returned, a reason must be entered</li>
        <li>Enter items for return that are not on the original order (shipped in error)</li>
    </ul>
    <p>Once the receiver has finished verifying the order and making the necessary receiving entries on the screen, a button is pressed to process the data. The data currently displayed on the screen is sent for bulk processing by the system. Partial orders are received.</p>
    <p>A receiver can also Force Close an order (this is a management decision). A Force Close is used when the outstanding order will not be full-filled by the supplier for one reason or another, such as the supplier has gone out of business or the product is no longer available or produced. A Force Close order must have a reason supplied.</p>
</div>